#container {
  #tabHeaders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    .tabHeader {
      //padding: 1em 0;
      padding: 0.5em;
      border: 1px solid var(--border);
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
      flex: 1;
      text-align: center;
      cursor: pointer;
    }
    .tabHeader.active {
      background-color: var(--bg-card);
    }
    .tabHeader:hover:not(.active) {
      background-color: var(--bg-secondary);
    }
  }

  div.tab {
    display: none;
  }
  div.tab.active {
    display: block;
  }

  div.browserEntry {
    display: flex;
    app-type-icon {
      text-align: left;
    }
    div {
      flex-grow: 1;
      padding-right: 5px;
    }
    small > button {
      horiz-align: right;
      padding: 5px;
      font-size: 10px;
    }
  }
}
